.form__button {
  border-radius: 100px;
  background: #1e1d25;
  padding: 0 20px;
  white-space: nowrap;
  height: 40px;
  line-height: 36px;
  display: block;
  font-size: 12px;
  color: #fff!important;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .2px;
  border: 2px solid transparent;
  cursor: pointer;
  z-index: 99999;
  opacity: 1;
  visibility: visible;

  &--submit {
    width: 110px;
  }

  &--danger {
    background-color: #f8d7da;
    color: #721c24 !important;
  }
}