.alert {
  position: relative;
  padding: 8px 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 2px;
  
  &--primary {
    color: #004085;
    background-color: #cce5ff;
  }

  &--danger {
    color: #721c24;
    background-color: #ffe3e5;
  }
}